@mixin container {
  width: $container-mobile;
  margin-left: auto;
  margin-right: auto;
  /*outline: 1px dotted orange;
  background-color: rgba(255, 0, 0, 0.3);*/
}

@mixin clearfix {

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}




