html {
  font-size: $html-size-base;
}

.page {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-family: $font-family;
  color: $color-main;
}

.visuallyhidden{
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  border:none;
}

.icon-heart {
  background-image: url("http://placehold.it/10x10.svg");
}

